@using finance.MVC.Models
@model IEnumerable<finance.MVC.Models.HistoryViews>
@{
    ViewData["Title"] = "History";
}

<style>
    td, th {
        padding: 2px 10px;
        text-align: center;
    }
</style>


<div>
    <h1>History by transaction type</h1>

   
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Receiving Wallet</th>
                <th>Sending Wallet</th>
                <th>Category</th>
                <th>Price</th>
                <th>LeftBalance</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {

                foreach (var item in @Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.HistoryId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WalletTo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WalletFrom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LeftBalance)
                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>
    <br />
    @Html.ActionLink("Back", "HistoryList")
</div>

